<div class="app-download-container" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 10px;">
    {% if include.ios_url %}
    <a class="custom-button1-a-attribute" href="{{ include.ios_url }}" target="_blank" rel="noopener noreferrer">
        <div class="custom-button1-container" style="max-width:250px; margin: 0;">
            <div class="custom-button1-img-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="35px" height="35px" viewBox="0 0 800 800">
                    <linearGradient id="SVGID_ios_{{ include.app_name | slugify }}" gradientUnits="userSpaceOnUse" x1="400" y1="800" x2="400" y2="0">
                        <stop offset="0" style="stop-color:#18BFFB" /><stop offset="1" style="stop-color:#2072F3"/>
                    </linearGradient>
                    <path fill="url(#SVGID_ios_{{ include.app_name | slugify }})" d="M638.4,0H161.6C72.3,0,0,72.3,0,161.6v476.9C0,727.7,72.3,800,161.6,800h476.9c89.2,0,161.6-72.3,161.6-161.6V161.6C800,72.3,727.7,0,638.4,0z"/>
                    <path fill="#FFFFFF" d="M396.6,183.8l16.2-28c10-17.5,32.3-23.4,49.8-13.4s23.4,32.3,13.4,49.8L319.9,462.4h112.9c36.6,0,57.1,43,41.2,72.8H143c-20.2,0-36.4-16.2-36.4-36.4c0-20.2,16.2-36.4,36.4-36.4h92.8l118.8-205.9l-37.1-64.4c-10-17.5-4.1-39.6,13.4-49.8c17.5-10,39.6-4.1,49.8,13.4L396.6,183.8L396.6,183.8z M256.2,572.7l-35,60.7c-10,17.5-32.3,23.4-49.8,13.4S148,614.5,158,597l26-45C213.4,542.9,237.3,549.9,256.2,572.7L256.2,572.7z M557.6,462.6h94.7c20.2,0,36.4,16.2,36.4,36.4c0,20.2-16.2,36.4-36.4,36.4h-52.6l35.5,61.6c10,17.5,4.1,39.6-13.4,49.8c-17.5,10-39.6,4.1-49.8-13.4c-59.8-103.7-104.7-181.3-134.5-233c-30.5-52.6-8.7-105.4,12.8-123.3C474.2,318.1,509.9,380,557.6,462.6L557.6,462.6z"/>
                </svg>
            </div>
            <div class="custom-button1-text-container">
                <span class="first-line">iOS - App 스토어</span>
                <span class="second-line">{{ include.app_name }} 다운로드</span>
            </div>
        </div>
    </a>
    {% endif %}

    {% if include.android_url %}
    <a class="custom-button1-a-attribute" href="{{ include.android_url }}" target="_blank" rel="noopener noreferrer">
        <div class="custom-button1-container" style="max-width:250px; margin: 0;">
            <div class="custom-button1-img-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="35px" height="35px" viewBox="0 0 512 512">
                    <path fill="#4CAF50" d="M100.3,31.7c-8.7,9.1-14,22.7-14,39.5v370.4c0,16.8,5.3,30.3,14,39.5l2.1,2.1L305.5,278.4V251L102.4,29.6L100.3,31.7z"/>
                    <path fill="#FFC107" d="M371.7,345.5l-66.2-67.1V251l66.2-67.1l2.1,1.2l78.4,44.5c22.4,12.7,22.4,33.6,0,46.3l-78.4,44.5L371.7,345.5z"/>
                    <path fill="#FF3D00" d="M373.8,346.7L305.5,278.4L100.3,483.7c7.4,7.8,19.6,8.8,33.1,1.1L373.8,346.7z"/>
                    <path fill="#1976D2" d="M373.8,165.3L133.4,28.8c-13.5-7.7-25.7-6.7-33.1,1.1L305.5,233.6L373.8,165.3z"/>
                </svg>
            </div>
            <div class="custom-button1-text-container">
                <span class="first-line">Android - 구글 플레이</span>
                <span class="second-line">{{ include.app_name }} 다운로드</span>
            </div>
        </div>
    </a>
    {% endif %}
</div>
