<div class="app-download-container">
    {% if include.ios_url %}
    <a href="{{ include.ios_url }}" target="_blank" rel="noopener noreferrer">
        <div class="app-btn-box">
            <div class="app-btn-icon">
                <img src="/assets/img/apple_app_store_ico.svg" alt="App Store" width="32" height="32">
            </div>
            <div class="app-btn-content">
                <span class="app-btn-sub">iOS - App 스토어</span>
                <span class="app-btn-main">{{ include.app_name }} 다운로드</span>
            </div>
        </div>
    </a>
    {% endif %}

    {% if include.android_url %}
    <a href="{{ include.android_url }}" target="_blank" rel="noopener noreferrer">
        <div class="app-btn-box">
            <div class="app-btn-icon">
                <img src="/assets/img/google_playstore_ico.svg" alt="Google Play" width="32" height="32">
            </div>
            <div class="app-btn-content">
                <span class="app-btn-sub">Android - 구글 플레이</span>
                <span class="app-btn-main">{{ include.app_name }} 다운로드</span>
            </div>
        </div>
    </a>
    {% endif %}
</div>