<!-- 목차 (Table of Contents) - 자동 생성 컴포넌트 -->
<div id="toc" class="toc-light-blue toc-container-direction" style="display: none;">
    <div class="toc-title-container">
        <p class="toc-title">
            <span class="material-symbols-outlined text-primary">list_alt</span>
            목차
        </p>
        <span class="toc-title-toggle">
            <a href="#" class="toc-toggle" aria-label="목차 토글">
                <span class="toc-icon-toggle-span">
                    <svg style="fill: #999; color: #999" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24" fill="none">
                        <path d="M6 6H4v2h2V6zm14 0H8v2h12V6zM4 11h2v2H4v-2zm16 0H8v2h12v-2zM4 16h2v2H4v-2zm16 0H8v2h12v-2z" fill="currentColor"></path>
                    </svg>
                    <svg style="fill: #999; color: #999" xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" viewBox="0 0 24 24" version="1.2" baseProfile="tiny">
                        <path d="M18.2 9.3l-6.2-6.3-6.2 6.3c-.2.2-.3.4-.3.7s.1.5.3.7c.2.2.4.3.7.3h11c.3 0 .5-.1.7-.3.2-.2.3-.5.3-.7s-.1-.5-.3-.7zM5.8 14.7l6.2 6.3 6.2-6.3c.2-.2.3-.5.3-.7s-.1-.5-.3-.7c-.2-.2-.4-.3-.7-.3h-11c-.3 0-.5.1-.7.3-.2.2-.3.5-.3.7s.1.5.3.7z"/>
                    </svg>
                </span>
            </a>
        </span>
    </div>
    <nav>
        <!-- JS가 여기에 목차 리스트를 생성함 -->
    </nav>
</div>
