/* ==========================================================================
   Content CSS - 포스트 내부 컨텐츠 스타일
   ========================================================================== */

/* 사이트 콘텐츠 공통 */
.site-content {
    justify-content: center;
    letter-spacing: -0.5px;
}

.site-content .content-area {
    width: 90%;
}

.site-content .content-area strong a {
    color: #007FFF;
}

.site-content .content-area a strong {
    color: #007FFF;
}

.site-content .content-area .red {
    color: red;
}

.site-content .content-area .underline {
    text-decoration: none;
    border-radius: 30px;
    font-weight: normal;
    color: #000;
    background: linear-gradient(to top, #f890094f 60%, transparent 50%);
    font-weight: 600;
}

.site-content .content-area h3 a {
    color: white;
    text-decoration: none;
}

.site-content .content-area u {
    text-decoration: none;
    border-radius: 30px;
    font-weight: normal;
    color: #000;
    background: linear-gradient(to top, #f890094f 60%, transparent 50%);
    font-weight: 600;
}

/* 컨텐츠 내부 헤더 */
div.entry-content > h3 {
    position: relative;
    display: block;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: -.02em;
    margin: 20px 0;
    padding: 10px 15px 10px 20px;
    line-height: 1.4em;
    border: 0;
    color: white;
    z-index: 1;
    background: linear-gradient(to right, #18408a, #0081f8);
}

div.entry-content > h4 {
    width: max-content;
    margin-top: 10px;
    padding-right: 10px;
    font-weight: 700;
    border-bottom: 3px solid #ffe200;
}

/* 썸네일 */
.content-area .featured-image {
    text-align: center;
    width: auto;
    max-width: 400px;
    height: auto;
}

.content-area .post-image {
    text-align: center;
}

.content-area .post-image img {
    width: auto;
    height: auto;
}

/* 컨텐츠 내부 리스트 스타일 */
.content-area li {
    margin: 10px 0px;
}

.content-area .blind {
    display: none;
}

/* 컨텐츠 이미지내 캡션 스타일*/
.wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

/* 컨텐츠 내부 테이블 스타일 */
.content-area table {
    margin: auto;
    max-width: 100%;
    border-collapse: collapse;
    color: #333;
    border-radius: .5em;
    overflow: hidden;
    border: 1px solid #bfbfbf;
}

.content-area table thead {
    border-color: #595959;
}

.content-area table th {
    border-top: none;
    background: #428bca;
    color: #fff;
    padding: 0.6em !important;
}

.content-area table tr {
    background-color: #f5f9fc;
    border-color: #bfbfbf;
}

.content-area table tr:last-child {
    border-bottom: 2px solid #bfbfbf;
}

.content-area table tr:nth-child(even) {
    background-color: #ebf3f9;
}

.content-area table td {
    text-align: center;
    line-height: 30px;
    border: 1px solid #bfbfbf;
    padding: 0.6em !important;
}

.wp-block-table.left-td td {
    text-align: left;
}

@media screen and (max-width: 601px) {
    .content-area table tr:nth-child(2) {
        border-top: none;
    }
}

/* 컨텐츠 내부 html 가져온 스타일 */
.content-area .css-1p1vjk1 {
    margin: 0px;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-decoration: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 250px;
    height: 68px;
    background-color: rgb(244, 249, 253);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(217, 221, 224);
    border-radius: 20px;
}

.entry-content .alignwide {
    width: 100%;
    margin: 0;
}
