/* ==========================================================================
   Header & Navigation CSS
   ========================================================================== */

/* Site Header */
.site-header {
    background-color: var(--base-3);
}

.inside-header {
    padding: 40px;
    display: flex;
    align-items: center;
}

.site-header .header-image {
    width: 60px;
    vertical-align: middle;
}

.main-title {
    margin: 0;
    font-size: 25px;
    line-height: 1.2em;
    word-wrap: break-word;
    font-weight: 700;
    text-transform: none;
}

.main-title a, .main-title a:hover {
    color: #303030;
    text-decoration: none;
}

.site-description {
    margin: 0;
    line-height: 1.5;
    font-weight: 400;
    text-transform: none;
    font-size: 15px;
    color: var(--contrast-2);
}

.site-branding-container {
    display: inline-flex;
    align-items: center;
    text-align: left;
    flex-shrink: 0;
}

.site-branding-container .site-logo {
    margin-right: 1em;
}

.site-logo {
    display: inline-block;
    max-width: 100%;
}

/* Main Navigation */
.main-navigation {
    z-index: 100;
    padding: 0;
    clear: both;
    display: block;
    background-color: #efe9dd;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .2);
}

.main-navigation ul ul {
    background-color: var(--base-3);
}

.main-navigation ul ul {
    background-color: var(--base);
}

.main-navigation a {
    display: block;
    text-decoration: none;
    font-weight: 400;
    text-transform: none;
    font-size: 15px;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation .main-nav ul li a {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 60px;
}

.main-navigation .main-nav ul li a, .main-navigation .menu-toggle, .main-navigation .menu-bar-items {
    color: #555;
}

.main-navigation li {
    position: relative;
}

.main-navigation li a {
    letter-spacing: 0.121em;
}

.main-navigation li.current-menu-item,
.main-navigation li.current-menu-ancestor,
.main-navigation li.current-post-ancestor {
    background-color: white;
}

.main-navigation li.current-menu-item a,
.main-navigation li.current-menu-ancestor a,
.main-navigation li.current-post-ancestor a {
    font-weight: 600 !important;
    font-size: 16px !important;
}

.main-navigation .main-nav ul li:not([class*="current-menu-"]):hover > a,
.main-navigation .main-nav ul li:not([class*="current-menu-"]):focus > a,
.main-navigation .main-nav ul li.sfHover:not([class*="current-menu-"]) > a {
    color: var(--accent);
}

.main-navigation .main-nav ul li[class*="current-menu-"] > a {
    color: #555;
}

.inside-navigation {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-navigation .main-nav > ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-navigation .menu-item-gtranslate {
    padding-left: 10px;
}

/* Dropdown Menu */
.main-navigation ul ul {
    display: block;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
    float: left;
    position: absolute;
    left: -99999px;
    opacity: 0;
    z-index: 99999;
    width: 200px;
    text-align: left;
    top: auto;
    transition: opacity 80ms linear;
    transition-delay: 0s;
    pointer-events: none;
    height: 0;
    overflow: hidden;
}

.main-navigation ul ul a {
    display: block;
}

.main-navigation ul ul li {
    width: 100%;
}

.main-navigation .main-nav ul ul li a {
    line-height: normal;
    padding: 10px 20px;
    font-size: 14px;
}

.main-navigation:not(.toggled) ul li.sfHover > ul,
.main-navigation:not(.toggled) ul li:hover > ul {
    left: auto;
    opacity: 1;
    transition-delay: 150ms;
    pointer-events: auto;
    height: auto;
    overflow: visible;
}

.main-navigation:not(.toggled) ul ul li.sfHover > ul,
.main-navigation:not(.toggled) ul ul li:hover > ul {
    left: 100%;
    top: 0;
}

/* Dropdown Toggle */
.menu-item-has-children .dropdown-menu-toggle {
    display: inline-block;
    height: 100%;
    clear: both;
    padding-right: 20px;
    padding-left: 10px;
}

.menu-item-has-children ul .dropdown-menu-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -10px;
}

.main-navigation .main-nav ul li.menu-item-has-children > a {
    padding-right: 0;
    position: relative;
}

/* Mobile Menu */
.menu-toggle {
    display: none;
    padding: 0 20px;
    line-height: 60px;
    margin: 0;
    font-weight: 400;
    text-transform: none;
    font-size: 15px;
    cursor: pointer;
}

button.menu-toggle {
    background-color: transparent;
    flex-grow: 1;
    border: 0;
    text-align: center;
}

button.menu-toggle:hover,
button.menu-toggle:focus {
    background-color: transparent;
    color: #555;
}

.mobile-menu-control-wrapper {
    display: none;
    margin-left: auto;
    align-items: center;
}

.mobile-menu-control-wrapper .menu-toggle,
.mobile-menu-control-wrapper .menu-toggle:hover,
.mobile-menu-control-wrapper .menu-toggle:focus,
.has-inline-mobile-toggle #site-navigation.toggled {
    background-color: rgba(0, 0, 0, 0.02);
}

/* Mobile Navigation Toggle */
.main-navigation.toggled .main-nav {
    flex-basis: 100%;
    order: 3;
}

.main-navigation.toggled .main-nav > ul {
    display: block;
}

.main-navigation.toggled .main-nav li {
    width: 100%;
    text-align: left;
}

.main-navigation.toggled .main-nav ul ul {
    transition: 0s;
    visibility: hidden;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.main-navigation.toggled .main-nav ul ul.toggled-on {
    position: relative;
    top: 0;
    left: auto !important;
    right: auto !important;
    width: 100%;
    pointer-events: auto;
    height: auto;
    opacity: 1;
    display: block;
    visibility: visible;
    float: none;
}

.toggled .menu-item-has-children .dropdown-menu-toggle {
    padding-left: 20px;
    float: right;
}

nav.toggled ul ul.sub-menu {
    width: 100%;
}

/* Header Widget */
.header-widget {
    margin-left: auto;
}

.header-widget p:last-child {
    margin-bottom: 0;
}

/* Navigation Below Header */
.nav-below-header .main-navigation .inside-navigation.grid-container,
.nav-above-header .main-navigation .inside-navigation.grid-container {
    padding: 0px 20px 0px 20px;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .inside-header {
        flex-direction: column;
        text-align: center;
        padding-right: 30px;
        padding-left: 30px;
    }

    .site-header .header-widget {
        margin-top: 1.5em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .main-navigation .menu-toggle,
    .sidebar-nav-mobile:not(#sticky-placeholder) {
        display: block;
    }

    .main-navigation ul,
    .gen-sidebar-nav,
    .main-navigation:not(.slideout-navigation):not(.toggled) .main-nav > ul,
    .has-inline-mobile-toggle #site-navigation .inside-navigation > *:not(.navigation-search):not(.main-nav) {
        display: none;
    }

    .nav-align-right .inside-navigation,
    .nav-align-center .inside-navigation {
        justify-content: space-between;
    }

    .main-navigation .menu-bar-item:hover > a,
    .main-navigation .menu-bar-item.sfHover > a {
        background: none;
        color: #555;
    }
}
