---
layout: default
---
<div class="content-area" id="primary">
    <main class="site-main" id="main">
        <article id="post-{{ page.id | slugify }}" class="post type-post status-publish format-standard has-post-thumbnail hentry {% for cat in page.categories %}category-{{ cat | slugify }} {% endfor %}{% for tag in page.tags %}tag-{{ tag | slugify }} {% endfor %}" itemtype="https://schema.org/CreativeWork" itemscope="">
            <div class="inside-article">

                {% if page.image %}
                <div class="featured-image page-header-image-single grid-container grid-parent">
                    <img fetchpriority="high" width="400" height="400" src="{{ page.image }}" class="attachment-full size-full wp-post-image" alt="{{ page.title }}" itemprop="image" decoding="async">
                </div>
                {% endif %}

                <header class="entry-header" aria-label="Content">
                    <h1 class="entry-title" itemprop="headline">{{ page.title }}</h1>
                    <div class="entry-meta">
                        <span class="posted-on">
                            <time class="entry-date published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                                {{ page.date | date: "%Y년 %m월 %d일" }}
                            </time>
                            {% if page.last_modified_at %}
                                <time class="updated" datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">
                                    (업데이트: {{ page.last_modified_at | date: "%Y년 %m월 %d일" }})
                                </time>
                            {% else %}
                                <meta itemprop="dateModified" content="{{ page.date | date_to_xmlschema }}">
                            {% endif %}
                        </span>
                    </div>
                </header>

                <div class="ad-container-post-top" style="margin: 24px 0;">
                    {% include adsense.html %}
                </div>

                <div class="entry-content" itemprop="text">
                    {% include toc.html %}
                    {{ content }}
                </div>

                <footer class="entry-meta" aria-label="Entry meta">
                    {% if page.categories.size > 0 %}
                    <span class="cat-links">
                        <span class="gp-icon icon-categories"><svg viewBox="0 0 512 512" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"><path d="M0 112c0-26.51 21.49-48 48-48h110.014a48 48 0 0143.592 27.907l12.349 26.791A16 16 0 00228.486 128H464c26.51 0 48 21.49 48 48v224c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V112z"></path></svg></span>
                        <span class="screen-reader-text">Categories </span>
                        {% for cat in page.categories %}
                          <a href="/category/{{ cat | slugify }}/" rel="category tag">
                            {{ cat | replace: 'interest', '나의 문화 생활' | replace: 'financial-and-investment', '나의 경제 생활' }}
                          </a>
                          {% unless forloop.last %}, {% endunless %}
                        {% endfor %}
                    </span>
                    {% endif %}

                    {% if page.tags.size > 0 %}
                    <span class="tags-links">
                        <span class="gp-icon icon-tags"><svg viewBox="0 0 512 512" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"><path d="M20 39.5c-8.836 0-16 7.163-16 16v176c0 4.243 1.686 8.313 4.687 11.314l224 224c6.248 6.248 16.378 6.248 22.626 0l176-176c6.244-6.244 6.25-16.364.013-22.615l-223.5-224A15.999 15.999 0 00196.5 39.5H20zm56 96c0-13.255 10.745-24 24-24s24 10.745 24 24-10.745 24-24 24-24-10.745-24-24z"></path><path d="M259.515 43.015c4.686-4.687 12.284-4.687 16.97 0l228 228c4.686 4.686 4.686 12.284 0 16.97l-180 180c-4.686 4.687-12.284 4.687-16.97 0-4.686-4.686-4.686-12.284 0-16.97L479.029 279.5 259.515 59.985c-4.686-4.686-4.686-12.284 0-16.97z"></path></svg></span>
                        <span class="screen-reader-text">Tags </span>
                        {% for tag in page.tags %}
                        <a href="/tag/{{ tag | slugify }}/" rel="tag">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                        {% endfor %}
                    </span>
                    {% endif %}

                    <!-- Post Navigation -->
                    <nav id="nav-below" class="post-navigation" aria-label="Posts">
                        {% if page.previous %}
                        <div class="nav-previous">
                            <span class="gp-icon icon-arrow-left"><svg viewBox="0 0 192 512" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path fill-rule="nonzero" d="M178.425 138.212c0 2.265-1.133 4.813-2.832 6.512L64.276 256.001l111.317 111.277c1.7 1.7 2.832 4.247 2.832 6.513 0 2.265-1.133 4.813-2.832 6.512L161.43 394.46c-1.7 1.7-4.249 2.832-6.514 2.832-2.266 0-4.816-1.133-6.515-2.832L16.407 262.514c-1.699-1.7-2.832-4.248-2.832-6.513 0-2.265 1.133-4.813 2.832-6.512l131.994-131.947c1.7-1.699 4.249-2.831 6.515-2.831 2.265 0 4.815 1.132 6.514 2.831l14.163 14.157c1.7 1.7 2.832 3.965 2.832 6.513z"/></svg></span>
                            <span class="prev"><a href="{{ page.previous.url }}" rel="prev">{{ page.previous.title }}</a></span>
                        </div>
                        {% endif %}
                        {% if page.next %}
                        <div class="nav-next">
                            <span class="gp-icon icon-arrow-right"><svg viewBox="0 0 192 512" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path fill-rule="nonzero" d="M178.425 256.001c0 2.266-1.133 4.815-2.832 6.515L43.599 394.509c-1.7 1.7-4.248 2.833-6.514 2.833s-4.816-1.133-6.515-2.833l-14.163-14.162c-1.699-1.7-2.832-3.966-2.832-6.515 0-2.266 1.133-4.815 2.832-6.515l111.317-111.316L16.407 144.685c-1.699-1.7-2.832-4.249-2.832-6.515s1.133-4.815 2.832-6.515l14.163-14.162c1.7-1.7 4.249-2.833 6.515-2.833s4.815 1.133 6.514 2.833l131.994 131.993c1.7 1.7 2.832 4.249 2.832 6.515z"/></svg></span>
                            <span class="next"><a href="{{ page.next.url }}" rel="next">{{ page.next.title }}</a></span>
                        </div>
                        {% endif %}
                    </nav>
                </footer>
            </div>
        </article>
    </main>
</div>